<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<meta charset="utf-8">
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>
<meta charset="utf-8">
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="posts-row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @post, local: true) do |form| %>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%#= image_tag @post.image.variant(resize: "100, 100"), class: "post-image" if @post.image.attached? %> <%#画像の表示編集機能に書く%>
        <%#= form.file_field :image, multiple: true, id:"post-image" %> <%#multiple: trueをつけていたため保存されなかった%>
        <%= form.file_field :image, id:"post-image" %> <%#画像の投稿フォーム%>
      </div>
      <p>何に関しての会議を行ったか</p>
      <%= form.text_field :title, placeholder: "Title" %>
      <p>会議に関しての感想など</p>
      <%= form.text_area :text, placeholder: "Text" %>
      <%#= form.collection_select(保存されるカラム名, オブジェクトの配列, カラムに保存される項目, 選択肢に表示されるカラム名, オプション, htmlオプション) %>
      <p>会議の内容</p>
      <%= form.collection_select(:content_id, Content.all, :id, :name, {}, {class:"select-box", id:"content-fee-status"})%>
      <p>会議にかかった時間</p>
      <%= form.collection_select(:meeting_time_id, MeetingTime.all, :id, :name, {}, {class:"select-box", id:"time-fee-status"})%>
      <p>会議の進め方</p>
      <%= form.collection_select(:progress_id, Progress.all, :id, :name, {}, {class:"select-box", id:"progress-fee-status"})%>
      <p>会議での情報量</p>
      <%= form.collection_select(:information_id, Information.all, :id, :name, {}, {class:"select-box", id:"information-fee-status"})%>
      <p>会議での参加人数</p>
      <%= form.collection_select(:people_id, Person.all, :id, :name, {}, {class:"select-box", id:"people-fee-status"})%>
      <%#= form.collection_select(保存されるカラム名, オブジェクトの配列, カラムに保存される項目, 選択肢に表示されるカラム名, オプション, htmlオプション) %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>