<div class="contents-row">
  <% @posts.each do |post| %>
    <div class="content_post">
      <%= image_tag post.image.variant(resize: "100x100"), class: "post-image" if post.image.attached? %> <%#画像の表示編集機能に書く%>
        <% if user_signed_in?%>
        <div class="more_list">
          <li class="list">
            <p class="user-name"><%= "投稿者: #{post.user.nickname}さん" %></p>
            <p><%= "#{post.title}の会議内容" %></p>
          </li>
            <div class="link">
                <%= link_to "編集", edit_post_path(post.id) %>
                <%= link_to "詳細", post_path(post.id)%>
              <% if current_user.id == post.user_id %>
                <%= link_to "削除", post_path(post.id), method: :delete %>
              <% end %>
            </div>
        </div>
        <% end %>
    </div>
  <% end %>
</div>
