  <div class="common-back-image">
    <%#= image_tag 'back-image4.jpg', alt: "画像", class: "back-ground-image" %>
  <div class="contents-row">
      <div class="content_post">
        <%= image_tag @post.image.variant(resize: "100x100"), class: "post-image" if @post.image.attached? %> <%#画像の表示編集機能に書く%>
          <% if user_signed_in?%>
          <ul class="more_list">
            <li>
              <p><%= "投稿者: #{@post.user.nickname}さん" %></p>
              <p><%= "#{@post.title}の会議内容" %></p>
              <p><%= "#{@post.text}" %></p>
              <p><%= "会議の内容#{@post.content_id}点" %></p>
              <p><%= "会議にかかった時間#{@post.meeting_time_id}点" %></p>
              <p><%= "会議の進め方#{@post.progress_id}点" %></p>
              <p><%= "会議での情報量#{@post.information_id}点" %></p>
              <p><%= "会議での参加人数#{@post.people_id}点" %></p>
            </li>
              <% if current_user.id == @post.user_id %>
                <%= link_to "編集", edit_post_path(@post.id) %>
                <%= link_to "削除", post_path(@post.id), method: :delete %>
              <% end %>
          </ul>
          <% end %>
      </div>
  </div>

    <div class="score">
      <p>
        <b><%= "自己評価した点数は" %></b>
          <b><span class="score_color"><%= set_sum %></span></b>
        <b><%= "点です" %></b>
      </p>
    </div>
    
  <div class="comment">
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.id != @post.user_id %>
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
            <p><%= form.text_area :text, placeholder: "コメントを書いてください", :size=>"100" %></p>
            <%# jQueryの使用するHTMLの中でJavaScriptを読み込む %>
            <div class="form-group-row" id="star">
              <%= form.label :evaluation, "星評価:(任意)" %>
              <%= form.hidden_field :evaluation, id: :review_star %>
                <!-- 評価javascript -->
                <script>
                $(function () { //星を表示
                  $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    scoreName: 'comment[evaluation]',   // commentモデルevaluationカラムへの保存
                    half: true,   // 星半分の入力
                  });
                });
                </script>
            </div>
            <%# jQueryの使用ここまで %>
            <p><%= form.submit "投稿する" %></p>
          <% end %>
        <% end %>
      <% else %>
        <strong><p>*コメントの投稿には新規登録/ログインが必要です*</p></strong>
      <% end %>
      
      <div class="comments">
        <h4>＜コメント一覧＞</h4> 
        <% @comments.each do |comment| %>
          <div class="comment-list">
            <p>
              <%= comment.text %>
              <div id="star-rate-<%= comment.id %>"></div>
                <script>
                  $(function () { //星を表示
                    $('#star-rate-<%= comment.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,   // 星半分の入力
                      readOnly: true, //読み込み専用（入力できない）
                      score: <%= comment.evaluation %>, //星評価の表示
                    });
                  });
                </script>
              <%= comment.evaluation%>
                <% if current_user.id == comment.user_id %> <%#もしログインしているユーザーidとコメントしているユーザーidと一致していたら%>
                  <%=link_to "コメントを削除", post_comment_path(comment.post.id, comment.id), method: :delete %>
                <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>