<div class="common-back-image">
    <%= image_tag 'back-image4.jpg', alt: "画像", class: "back-ground-image" %>
  <div class="contents-row">
      <div class="content_post">
        <%= image_tag @post.image.variant(resize: "100x100"), class: "post-image" if @post.image.attached? %> <%#画像の表示編集機能に書く%>
          <% if user_signed_in?%>
          <ul class="more_list">
            <li>
              <%= "#{current_user.nickname}さん" %>
              <%= "#{@post.title}の会議内容" %>
            </li>
              <%= link_to "編集", edit_post_path(@post.id) %>
              <%= link_to "削除", post_path(@post.id), method: :delete %>
          </ul>
          <% end %>
      </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを書いてください", :size=>"100" %>
        <%= form.submit "投稿する" %>
      <%# jQueryの使用するHTMLの中でJavaScriptを読み込む %>
        <div class="form-group-row" id="star">
          <%= form.label :evaluation, "星評価:" %>
          <%= form.hidden_field :evaluation, id: :review_star %>
            <!-- 評価javascript -->
            <script>
            $(function () { //星を表示
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'comment[evaluation]',   // commentモデルevaluationカラムへの保存
                half: true,   // 星半分の入力
              });
            });
            </script>
        </div>
      <%# jQueryの使用ここまで %>
      <% end %>
    <% else %>
      <strong><p>*コメントの投稿には新規登録/ログインが必要です*</p></strong>
    <% end %>
    
    <div class="comments">
      <h4>＜コメント一覧＞</h4> 
      <% @comments.each do |comment| %>
        <p>
          <%= comment.text %>
          <div id="star-rate-<%= comment.id %>"></div>
            <script>
              $(function () { //星を表示
                $('#star-rate-<%= comment.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,   // 星半分の入力
                  readOnly: true, //読み込み専用（入力できない）
                  score: <%= comment.evaluation %>, //星評価の表示
                });
              });
            </script>
          <%= comment.evaluation%>
        </p>
      <% end %>
    </div>
  </div>
</div>