<!DOCTYPE html>

<html>
  <head>
    <title>MeetingEfficiency</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="fl">
            <h1><%= link_to "MeetingEfficiency", root_path %></h1>
          <% if user_signed_in?%>
            <div class="sign-in-user">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log_out" %>
                <%= link_to "投稿画面", new_post_path, class: "new-post"%>
              <div class="user_name">
                <b><%= "#{current_user.nickname}さんがログインしています" %></b>
              </div>
            </div>
          <% else %>
            <div class="sign-in-user">
              <%= link_to "新規登録", new_user_registration_path %>
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          <% end %>
        </div>
      </header>
        <%= yield %>
        <footer>
          <p>
            Copyright MeetingEfficiency 2021.
          </p>
        </footer>
    </div>
  </body>
</html>
